<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  parallel methods/ classes/ tests   -->
<suite name="All Test Suite" parallel="classes" thread-count="9">
    <test verbose="2" preserve-order="true" name="sample tests">
        <classes>
            <class name="FirstTestCase"/>
            <class name="SecondTestCase"/>
        </classes>
    </test>
    <test name="annotaion-demo">
        <classes>
            <class name="FirstTestCaseAnnotations">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="SecondTestCaseAnnotations">
                <methods>
                    <include name="test3"/>
                    <include name="test4"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="prioritizing-disabling-tests">
        <classes>
            <class name="PriorityExample"/>
        </classes>
    </test>
    <test name="Dependency tests">
        <classes>
            <class name="DependencyExample"/>
        </classes>
    </test>
    <test name="grouping test">
        <groups>
            <run>
                <include name="sanity"/>
                <include name="regression"/>
                <!--                <exclude name="regression"/>-->
            </run>
        </groups>
        <classes>
            <class name="GroupingTestExample"/>
        </classes>
    </test>
    <test name="parameters test-1">
        <parameter name="a" value="1"/>
        <parameter name="b" value="2"/>
        <parameter name="sum" value="3"/>
        <classes>
            <class name="ParameterExample"/>
        </classes>
    </test>
    <test name="parameters test-2">
        <parameter name="a" value="3"/>
        <parameter name="b" value="2"/>
        <parameter name="sum" value="5"/>
        <classes>
            <class name="ParameterExample"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="listeners.PostActionsUsingListeners"/>
    </listeners>
    <test name="listeners test">
        <classes>
            <class name="listeners.ListenerTest"/>
        </classes>
    </test>
    <test name="parallel tests">
        <classes>
            <class name="parallelTesting.ParallelTest1"/>
            <class name="parallelTesting.ParallelTest2"/>
        </classes>
    </test>
    <test name="regex method name match tests">
        <classes>
            <class name="RegexTest">
                <methods>
                    <include name="test.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>